body {
    background-color:#DDDDDD ;
}

.box {
    border: solid;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    background-color: white;

}

header {
    text-align: center;
}
header strong {
    color: white;
    background-color: black;
    padding: 1em;
    padding-bottom: 7px;
    padding-top: 7px;
    font-size: small;
}

header h1 {
    font-family: oswald;
    font-size: 70px;
    margin: auto;
    

}
header img {
    width: 400px;
    margin-top: 2%;

}
header hr {
    height: 2px;
    background-color: #8B0000;
    margin-left: 2%;
    margin-right: 2%;

}
.cote {
    display: flex;
    justify-content: center;
 }
 
 .texte {
    text-align: center;
 }

 .texte img {
    width: 100px;
 }

 .texte h2 {
    font-size: 40px;
    font-family: oswald;
 }

 section {
    background-color: #D3D3D3;
    width: 70%;
    margin: auto;
    padding: 2%;
 }

 section hr {
    height: 2px;
    background-color: black;
 }

 .italie {
    text-align: center;
 }

 .texte2 h2 {
    text-align: center;
    color:#8B0000;
    font-family: oswald;

 }


 .fin {
    background-color: #D3D3D3;
    margin: 3%;
    padding-top: 4%;
    padding-bottom: 10%;
    text-align: center;
 }

.buton {
    margin-left: 8%;
    margin-right: 8%;
}


.bouton h1 {
    text-align: center;
}


 button {
    text-align: center;
    border: solid #DDDDDD;
    color: #8B0000;
    background-color: #DDDDDD;
    width: 100%;
    margin-bottom: 1%;
    border-radius: 15px;
    padding-top: 1%;
    padding-bottom: 1%;

 }


